<%= form_for @issue, url: employee_issues_path, remote: true, html: { class: "form-horizontal" } do |f| %>
  <%= render 'form', f:f %>
  <div class="text-right">
    <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('button.cancel') %></button>
    <%= f.submit t('button.create'), class: "btn btn-primary" %>
  </div>
<% end %>
