<%= render 'shared/errors', obj: @user %>
<div class="form-group row">
  <div class="col-sm-4"><%= f.label :email, "Email :" %></div>
  <div class="col-sm-8">
    <%= f.text_field :email, class: 'form-control', placeholder: "Email Address", required: true %>
  </div>
</div>
