<div class="center-block form-container">
  <%= form_for @user, class: "form-horizontal", remote: true do |f| %>
    <%= render 'form', f: f %>
    <div class="text-right">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
