<% if current_user %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t('.title') %></h3>
    </div>
    <div class="panel-body">
      <h3><%= t('.heading') %></h3>
    </div>
  </div>
<% end %>
