<% if current_user %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Guide Lines</h3>
  </div>
  <div class="panel-body">
    <h3>Inventory Management System</h3>
  </div>
</div>
<% end %>
