development:
  secret_key_base: <key>
  google_client_id: <key>
  google_client_secret: <key>
  api_auth_token: <key>
  company_id: <integer>
  s3_bucket_name: awss3bucketname
  aws_access_key_id: <key>
  aws_secret_access_key: <key>
  aws_region: demo_region

test:
  secret_key_base: <key>

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  google_client_id: <%= ENV["GOOGLE_CLIENT_ID"] %>
  google_client_secret: <%= ENV["GOOGLE_CLIENT_SECRET"] %>
  api_auth_token: <% ENV["API_AUTH_TOKEN"] %>
  company_id: <% ENV["COMPANY_ID"] %>
