<div class="form-group row">
  <div class="col-sm-4"><%= f.label :name, "Name:", class: "required" %></div>
  <div class="col-sm-8">
    <%= f.text_field :name, class: 'form-control', placeholder: "Name", required: true %>
  </div>
</div>
