h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
}

.checkout_info {
  font-size: 26px;
  font-weight: bold;
}

.required{
  position: relative;
  &::after{
    content:"*";
    color: red;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
  }
}

.readonly{
  color: red;
}

.newCheckout{
  padding-top: 30px;
}

.show{
  width: 500px;
}
