html {
  position: relative;
  min-height: 100%;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #e85f1c;
  letter-spacing:-1px;
  font-weight: bold;
}

.login-container {
  background: url(image_path("inventory_login_bg.jpg")) no-repeat top center;
  background-size: cover;
  padding: 120px 0;
  color: #fff;
  text-align: center;
}

.change-item-link {
  color: #e77e22;
}

.edit a {
  font-size: 16px;
  font-weight: 400;
}

.login-container p {
  font-size: 22px;
  margin-bottom: 25px;
}

.login-container h1 {
  font-size: 32px;
  margin: 0 0 68px;
  text-transform: uppercase;
}

.login-container p.inventory-text {
  font-size: 19px;
  padding-top: 30px;
}

.google-content {
  background-color: rgba(255,255,255,0.4);
  margin: 30px auto 0;
  display: block;
  max-width: 540px;
}

.google-button {
  margin-bottom: 30px;
  display: inline-block;
}

.google-color-width {
  width:25%;
  float: left;
  height: 6px;
}

.red {
  background-color: #f85649;
}

.blue {
  background-color: #33a3e3;
}

.green {
  background-color: #5aba35;
}

.yellow {
  background-color: #facd42;
}

p.copy {
  font-size: 12px;
  bottom: 0;
  padding: 1rem;
  position: absolute;
  width: 100%;
  color: #fff;
  margin: 0;
}

.page-header {
  margin-top: 0px;
}

a {
  color: #0c4685;
  transition: all 0.5s ease;

  &:hover, &:focus {
    text-decoration: none;
    color: #df4f07;
    outline: none;
  }
}

.link-edit {
  color: #e85f1c;
  margin-right: 15px;
}

.btn-primary {
  background-color: #08284e;
  border-color: transparent;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #0c4685;
  border-color: transparent;
}

.btn-default {
  border-color: #f26722;
}

.table-heading {
  color: #999;
}

.links a {
  margin-right: 20px;
}

.btn-show {
  color: inherit;
  font-size: 19px;
}

.pagination {
  margin: 0 0 20px;
}

.nav.navbar-nav {
  .navbar-link {
    border-radius: 5px;
    color: #fff;
    margin-top: 15px;
    padding: 8px;
  }

  .navbar-link:focus, .navbar-link:hover {
    background: #3071a9;
    color: #fff;
  }
}

.navbar-collapse {
  border-top: none;
  box-shadow: none;
}

.navbar-default {
  background-color:#333;
  border-color: #e7e7e7;
  box-shadow: 0 3px 5px #eee;
  min-height: 60px;
  padding-top: 5px;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
   background-color: transparent;
   color: #e85d1a;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #e85d1a;
  background-color: transparent;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

.menu-custom {
  .dropdown-menu {
    background-color: #333;
    color: #fff;
  }

  .dropdown-menu > li > a {
    color: #fff;
  }

  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #e85d1a;
    background-color: transparent;
  }
}

.panel {
  margin-top: 20px;
}

.required {
  position: relative;
  &::after {
    content:"*";
    color: red;
    position: absolute;
    right: -3px;
    top: 0;
    width: 1px;
  }
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 20px 0;
  background-color: #1e1e1e;
  color: #fff;
}

footer a:hover {
  color:#222;
}

table th {
  font-size: 16px;
}

.table-last td:last-child {
  text-align: right;
  width: 25%;

  .link-edit {
    margin-left: 15px;
  }
}

section.main-info h3, section.other-info h3 {
  color: #999;
}

section.main-info {
  h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  p {
    font-size: 12px;
  }

  span {
    font-size: 16px;
    font-weight: 600;
  }
}

section.main-info {
  h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  p {
    font-size: 16px;
  }

  span {
    font-size: 16px;
    font-weight: 600;
  }
}

section.other-info .icon-show {
  text-align: right;
}

.navbar-default .navbar-nav .menu-custom.open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .menu-custom.open .dropdown-menu > li > a:focus {
  color:  #e85d1a;
}

.back {
  margin-bottom: 15px;
}

.tweenty {
  width: 20%;
}

.tweentythree {
  width: 23%;
}

.tweentytwo {
  width: 22%;
}

.ten {
  width: 10%;
}

.five {
  width: 5%;
}

.thirty {
  width: 30%;
}

.fourty {
  width: 40%;
}

.twohundred {
  width: 200px;
}

.onefourty {
  width: 140px;
}

.hundred {
  width: 100px;
}

.form-container {
  width: 400px;
}

.main-content {
  padding-bottom: 90px;
}

.select-option {
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border: 1px solid #ccc;
  color: #555;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  width: 100%;
  background-color: #fff;
}

.select-option-showPage {
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border: 1px solid #ccc;
  color: #555;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  background-color: #fff;
}

.item-index {
  & td:nth-child(6), td:nth-child(7)  {
    width: 15%;
    word-break: break-all;
  }

  & td:last-child {
    text-align: right;
    width: 15%;
  }
}

.item-index>thead>tr>th, .item-index>thead>tr>td, .item-index>tbody>tr>th, .item-index>tbody>tr>td, .item-index>tfoot>tr>th, .item-index>tfoot>tr>td {
  padding: 8px 4px;
}

.page-heading {
  margin-top: 15px;
}

.search {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .top-links {
    width: 70%;
    float: right;
  }

  .nav > li > a {
    padding: 15px 5px 0px;
  }

  .login-container p {
    font-size: 25px;
  }

  .login-container h1 {
    font-size: 45px;
  }

  .login-container p.inventory-text {
    font-size: 22px;
  }

  p.copy {
    font-size: 12px;
  }

  .item-index-responsive {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    margin-bottom: 15px;
  }

  .btn-allocate {
    white-space: normal;
    width: 86px;
    word-wrap: break-word;
  }
}

@media (min-width: 992px) {
  .top-links {
    width: 55%;
  }

  .btn-allocate {
    white-space:nowrap;
    width: auto;
  }
}

@media (min-width: 1200px) {
  .nav > li > a {
    padding: 15px 10px 0px;
  }
}

.btn-add {
  margin-right: 12px;
}
