#logo {
  float: left;
  font-size: 1.7em;
  color: #f26722;
  letter-spacing:-1px;
  font-weight: bold;
}

.google-div {
  min-height: 600px;
  position: relative;
}

.google-btn {
  position: absolute;
  left: 50%;
  display: inline-block;
  top: 50%;
  margin: -22px 0 0 -130px;
}

#category-title {
  font-weight: bold;
  font-size: 1.5em;
}

.red {
  color: red;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.user-name {
  padding-right: 15px;
  padding-top: 15px;
  text-align: center;
}

.nav.navbar-right {
  margin-right: 0px;

  li a {
    padding: 0px 10px;
    line-height: 35px;
  }
}

.content p {
  font-size: 16px;
  font-weight: 600;
}

.btn-edit {
  background-color: #f26722;
  color: #fff;
}

.btn-edit:hover, .btn-edit:focus {
  color: #fff;
}

.content span {
  font-weight: 500;
}

.table-heading {
  color: #999;
}

.btn-show {
  color: inherit;
  font-size: 19px;
}

.pagination {
  margin: 0 0 20px;
}

.nav.navbar-nav {
  .navbar-link {
    border-radius: 5px;
    color: #fff;
    margin-top: 15px;
    padding: 8px;
  }

  .navbar-link:focus, .navbar-link:hover {
    background: #3071a9;
    color: #fff;
  }

  .logout-btn {
    margin-top: 10px;
    color: #303641;
    background-color: #36d2ea;

    &:hover, &:focus {
      background-color: #36d2ea;
      color: #303641;
    }
  }
}

.navbar-default {
  background-color: #fff;
  border-color: #e7e7e7;
  box-shadow: 0 3px 5px #eee;
  padding-top: 5px;
  min-height: 60px;
}

.top-links {
  width: 65%;
  float: right;
}

.navbar-default .navbar-nav > li > a {
  color: #303641;
}

.nav.navbar-right li {
  .btn {
    margin-top: 10%;
  }

  .btn-danger:hover, .btn-danger:focus {
    background-color: darken(#d9534f, 20%) !important;
  }

  .btn-primary:hover, .btn-primary:focus {
    background-color: darken(#428bca, 20%) !important;
  }

  .btn-danger:visited, .btn-danger:visited {
    color: #fff;
  }
}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 1rem;
  background-color: #7b7b7b;
  color: #fff;
}

footer a:hover {
  color:#222;
}

.top {
  margin: 0px;
}

table th {
  font-size: 18px;
}

.table-last td:last-child {
  text-align: right;
  .btn-edit {
    margin-left: 15px;
  }
}

section.main-info h3, section.other-info h3 {
  color: #999;
}

section.main-info {
  h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  p {
    font-size: 16px;
  }

  span {
    font-size: 16px;
    font-weight: 600;
  }
}

section.other-info .icon-show {
  text-align: right;
}

@media only screen and (max-width: 992px) {
  .top-links {
    width: 83%;
  }

  .nav > li > a {
    padding: 15px 5px 0px;
  }

  .user-name {
    padding-top: 15px;
  }

  .nav.navbar-right li .btn{
    margin-top: 6px;
  }
}
