h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
}

p.item_info {
  padding-bottom: 10px;
  font-size: 24px;
}

table, th, td {
  border-collapse: collapse;
}

.required{
  position: relative;
  &::after{
    content:"*";
    color: red;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
  }
}
