.item-index-id {
  width: 3%;
}

.item-index-item {
  width: 8%;
}

.item-index-model {
  width: 9%
}

.item-index-serial {
  width: 9%;
}

.item-index-issues {
  width: 7%;
}

.item-index-checkout {
  width: 9%
}

.item-index-note {
  width: 16%;
}

.item-index-employee {
  width: 13%;
}

.item-index-status {
  width: 7%;
}

.item-index-edit {
  width: 5%;
}

.item-index-allocate{
  width: 14%;
  text-align: right;
}
