<h1 align="center"><%= "Brand: " + @brand.name %></h1>
<div align="center">
  <% if current_user %>
    <div class="row">
      <span class="badge"><%= link_to "Edit Brand Name", edit_brand_path(@brand) %></span>
    </div>
  <% end %>
</div>
