<h1 class="text-center">Edit Category</h1>
<hr>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for @category, class: "form-horizontal" do |f| %>
      <%= render 'form', f: f %>
      <div class="text-right">
        <%= link_to "Cancel", categories_path, class: "btn btn-primary" %>
        <%= f.submit "Update", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
