
<footer class="footer">
  <div class="text-center">
    <small>
		  &copy; Copyright reserved for <a href="#" target="_blank"> Kreeti Technologies Pvt. Ltd.</a>
    </small>
  </div>
</footer>
